# **Pandas**

Pandas is a powerful python library used for data manipulation, analysis, and cleaning. It provides two main data structures:
*   Series – 1D labeled array (like a column)
*   DataFrame – 2D labeled data table (like a spreadsheet or SQL table)

Pandas is widely used in:
*   Data preprocessing
*   Handling missing values
* Reading/writing CSV, Excel, JSON files
* Grouping, filtering, and aggregating data
* Time series analysis

Installing pandas:
* Using pip:
    - `pip install pandas openpyxl`
* Using uv:
    - `uv add pandas openpyxl`

## **Creating Series and DataFrames**

In [78]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

**`pandas Series`**

In [2]:
# creating a series (1D data)

s = pd.Series([10, 20, 30, 40], name='Marks')
print("Series:\n", s)

Series:
 0    10
1    20
2    30
3    40
Name: Marks, dtype: int64

In [3]:
# series with custom index

s2 = pd.Series([100, 200, 300], index=['a', 'b', 'c'])
print("Series with custom index:\n", s2)

Series with custom index:
 a    100
b    200
c    300
dtype: int64

In [4]:
# series from dictionary
s3 = pd.Series({'day1': 100, 'day2': 200, 'day3': 300}, name = "income")
print("Series from dictionary:\n", s3)

Series from dictionary:
 day1    100
day2    200
day3    300
Name: income, dtype: int64

**`pandas DataFrames`**

In [5]:
# Create a DataFrame from a dictionary

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22],
    'City': ['Delhi', 'Mumbai', 'Chennai']
}
df = pd.DataFrame(data)

print("DataFrame from dict:\n", df)

DataFrame from dict:
       Name  Age     City
0    Alice   25    Delhi
1      Bob   30   Mumbai
2  Charlie   22  Chennai

In [6]:
# Create DataFrame from list of lists with column names

data2 = [[1, 'Math'], [2, 'Science'], [3, 'English']]
df2 = pd.DataFrame(data2, columns=['ID', 'Subject'])
print("DataFrame from list of lists:\n", df2)

DataFrame from list of lists:
    ID  Subject
0   1     Math
1   2  Science
2   3  English

In [7]:
# empty dataframe

df3 = pd.DataFrame()
print(df3)

Empty DataFrame
Columns: []
Index: []

## **Reading CSV files and writing in pandas**

**CSV file**

Dataset link: [data.csv](https://www.w3schools.com/python/pandas/data.csv)

In [9]:
# Reading CSV file

df_csv = pd.read_csv('./datasets/data.csv')
print(df_csv)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [10]:
# writing dataframe to csv file

import os

if os.path.exists("output.csv"):
  os.remove("output.csv")
df_csv.to_csv('output.csv', index=False)
print("File written succesfully")

File written succesfully

**XLSX file**

dataset link: [data.xlsx](https://docs.google.com/spreadsheets/d/1LTJMUDhrN-32tyd15sKdp79sJQbFkLtf/edit?usp=drive_link&ouid=116832746501987041317&rtpof=true&sd=true)

In [12]:
# Reading Excel file

df_excel = pd.read_excel('./datasets/data.xlsx')
print("\nExcel Data:\n", df_excel)

Excel Data:
      Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [13]:
# Writing to Excel file

df_excel.to_excel('output.xlsx', index=False)

**JSON file**

Dataset link: [data.json](https://drive.google.com/file/d/1HPxizBcAuek-5s6o_Sdh7FeI4uk14v2S/view?usp=drive_link)

In [14]:
# Reading JSON file

df_json = pd.read_json('./datasets/data.json')
print("\nJSON Data:\n", df_json)

JSON Data:
      Duration  Pulse  Maxpulse Calories
0          60    110       130    409.1
1          60    117       145      479
2          60    103       135      340
3          45    109       175    282.4
4          45    117       148      406
..        ...    ...       ...      ...
164        60    105       140    290.8
165        60    110       145      300
166        60    115       145    310.2
167        75    120       150    320.4
168        75    125       150    330.4

[169 rows x 4 columns]

In [15]:
# Writing to JSON file

df_json.to_json('output.json', orient='records', indent=2)

## **Exploring the data**

In [17]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 22, 35, 28],
    'City': ['Delhi', 'Mumbai', 'Chennai', 'Bangalore', 'Hyderabad']
}

df1 = pd.DataFrame(data)
df2 = pd.read_csv('./datasets/data.csv')

In [18]:
# view first few rows

print(df1.head(3))

      Name  Age     City
0    Alice   25    Delhi
1      Bob   30   Mumbai
2  Charlie   22  Chennai

In [19]:
print(df1.head(2))

    Name  Age    City
0  Alice   25   Delhi
1    Bob   30  Mumbai

In [20]:
print(df1.head())

      Name  Age       City
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   22    Chennai
3    David   35  Bangalore
4      Eva   28  Hyderabad

In [21]:
# Shape of DataFrame (rows, columns)

print("\ndf1 Shape:", df1.shape)
print("\ndf2 Shape:", df2.shape)

df1 Shape: (5, 3)

df2 Shape: (169, 4)

In [22]:
# Get column names

print("Columns of df1:", df1.columns.tolist())
print("Columns of df2:", df2.columns.tolist())

Columns of df1: ['Name', 'Age', 'City']
Columns of df2: ['Duration', 'Pulse', 'Maxpulse', 'Calories']

In [23]:
# Get index info

print("df1 Index:", df1.index)
print("df2 Index:", df2.index)

df1 Index: RangeIndex(start=0, stop=5, step=1)
df2 Index: RangeIndex(start=0, stop=169, step=1)

In [24]:
# Summary of DataFrame
print("Info of df1:\n")
print(df1.info())
print("--"*30)
print("--"*30)
print("Info of df2:\n")
print(df2.info())

Info of df1:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   City    5 non-null      object
dtypes: int64(1), object(2)
memory usage: 252.0+ bytes
None
------------------------------------------------------------
------------------------------------------------------------
Info of df2:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

In [25]:
# Statistical summary of numeric columns

print("\nDescribe df1:\n", df1.describe())

Describe df1:
              Age
count   5.000000
mean   28.000000
std     4.949747
min    22.000000
25%    25.000000
50%    28.000000
75%    30.000000
max    35.000000

In [26]:
print("\nDescribe df2:\n", df2.describe())

Describe df2:
          Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

In [27]:
# data types
print("Data types of df1:\n", df1.dtypes)

Data types of df1:
 Name    object
Age      int64
City    object
dtype: object

In [28]:
print("Data types of df2:\n",df.dtypes)

Data types of df2:
 Name    object
Age      int64
City    object
dtype: object

In [29]:
# to display interested number of columns

pd.set_option('display.max_columns', 100)

In [30]:
# to know the unique values of a column and their counts

print("City column:\n", df1['City'].value_counts())

City column:
 City
Delhi        1
Mumbai       1
Chennai      1
Bangalore    1
Hyderabad    1
Name: count, dtype: int64

## **Indexing, selecting and filtering data**

In [31]:
# Select a single column (as Series)

print("Name column:\n", df1['Name'])

Name column:
 0      Alice
1        Bob
2    Charlie
3      David
4        Eva
Name: Name, dtype: object

In [32]:
# Select multiple columns

print("\nName and City:\n", df1[['Name', 'City']])

Name and City:
       Name       City
0    Alice      Delhi
1      Bob     Mumbai
2  Charlie    Chennai
3    David  Bangalore
4      Eva  Hyderabad

In [33]:
# Select rows by index position (iloc)

print("\nRow at index 2:\n", df1.iloc[2])

Row at index 2:
 Name    Charlie
Age          22
City    Chennai
Name: 2, dtype: object

In [34]:
# Select rows by label (loc)

print("\nRow at label 0:\n", df1.loc[0])

Row at label 0:
 Name    Alice
Age        25
City    Delhi
Name: 0, dtype: object

In [35]:
# slicing data

print("\nRows 1 to 3:\n", df1.iloc[1:4, :])

Rows 1 to 3:
       Name  Age       City
1      Bob   30     Mumbai
2  Charlie   22    Chennai
3    David   35  Bangalore

In [36]:
print("Rows:\n", df1.iloc[::2, [0,2]])

Rows:
       Name       City
0    Alice      Delhi
2  Charlie    Chennai
4      Eva  Hyderabad

In [37]:
# Conditional filtering
print("People older than 25:\n", df1[df1['Age'] > 25])

People older than 25:
     Name  Age       City
1    Bob   30     Mumbai
3  David   35  Bangalore
4    Eva   28  Hyderabad

In [38]:
# Filter rows by multiple conditions

print("Age > 25 and City is Mumbai:\n", df[(df['Age'] > 25) & (df['City'] == 'Mumbai')])

Age > 25 and City is Mumbai:
   Name  Age    City
1  Bob   30  Mumbai

In [40]:
# Setting a new index

df_indexed = df.set_index('Name')
print("DataFrame with Name as index:\n", df_indexed)

DataFrame with Name as index:
          Age     City
Name
Alice     25    Delhi
Bob       30   Mumbai
Charlie   22  Chennai

## **Analysing and Modifying data**

In [41]:
df2.head(5)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [42]:
# finding the null count in each column

df2.isna().sum()

Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64

5 null values exists in 'calories' column

## **Modifying data in pandas**

In [43]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22],
}
df = pd.DataFrame(data)

print("Original DataFrame:\n", df)

Original DataFrame:
       Name  Age
0    Alice   25
1      Bob   30
2  Charlie   22

In [44]:
# Add a new column

df['City'] = ['Delhi', 'Mumbai', 'Chennai']
print("After adding 'City' column:\n", df)

After adding 'City' column:
       Name  Age     City
0    Alice   25    Delhi
1      Bob   30   Mumbai
2  Charlie   22  Chennai

In [45]:
# Update a column value

df.loc[1, 'Age'] = 35
print("\nAfter updating Bob's age:\n", df)

After updating Bob's age:
       Name  Age     City
0    Alice   25    Delhi
1      Bob   35   Mumbai
2  Charlie   22  Chennai

In [46]:
# Add a new row using loc

df.loc[3] = ['David', 28, 'Bangalore']
print("\nAfter adding a new row:\n", df)

After adding a new row:
       Name  Age       City
0    Alice   25      Delhi
1      Bob   35     Mumbai
2  Charlie   22    Chennai
3    David   28  Bangalore

In [47]:
# Drop a column

df = df.drop('City', axis=1)
print("\nAfter dropping 'City' column:\n", df)

After dropping 'City' column:
       Name  Age
0    Alice   25
1      Bob   35
2  Charlie   22
3    David   28

In [48]:
# Drop a row

df = df.drop(2)
print("\nAfter dropping index 2:\n", df)

After dropping index 2:
     Name  Age
0  Alice   25
1    Bob   35
3  David   28

In [49]:
# Rename columns

df = df.rename(columns={'Name': 'Full Name', 'Age': 'Years'})
print("\nAfter renaming columns:\n", df)

After renaming columns:
   Full Name  Years
0     Alice     25
1       Bob     35
3     David     28

## **Handling missing data in pandas**

In [50]:
# importing numpy

import numpy as np

In [51]:
print(df2.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [52]:
df2.isna().sum()

Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64

In [53]:
# Drop rows with any missing values

df_drop = df2.dropna()
print("\nAfter dropping rows with missing values:\n", df_drop.isna().sum())
print("shape of resultent data:",df_drop.shape)

After dropping rows with missing values:
 Duration    0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64
shape of resultent data: (164, 4)

In [54]:
# Fill missing values with a specific value

df_fill = df2.fillna({'Calories': 0})
print("\nAfter filling missing values:\n", df_fill.isna().sum())
print("shape of resultent data:",df_fill.shape)

After filling missing values:
 Duration    0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64
shape of resultent data: (169, 4)

## **Data Aggrigation and Grouping in pandas**

In [55]:
data = {
    'Department': ['IT', 'HR', 'IT', 'HR', 'Finance', 'IT'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
    'Salary': [70000, 50000, 75000, 52000, 65000, 80000]
}
df = pd.DataFrame(data)

print("Original DataFrame:\n", df)

Original DataFrame:
   Department Employee  Salary
0         IT    Alice   70000
1         HR      Bob   50000
2         IT  Charlie   75000
3         HR    David   52000
4    Finance      Eva   65000
5         IT    Frank   80000

In [56]:
# Group by a single column and get sum

grouped_salary = df.groupby('Department')['Salary'].sum()
print("\nTotal salary by department:\n", grouped_salary)

Total salary by department:
 Department
Finance     65000
HR         102000
IT         225000
Name: Salary, dtype: int64

In [57]:
# Group by and get multiple aggregations

agg_salary = df.groupby('Department')['Salary'].agg(['mean', 'max', 'min'])
print("\nAggregated salary by department:\n", agg_salary)

Aggregated salary by department:
                mean    max    min
Department
Finance     65000.0  65000  65000
HR          51000.0  52000  50000
IT          75000.0  80000  70000

In [58]:
# Group by multiple columns

df['Bonus'] = [5000, 3000, 4000, 2000, 3500, 4500]
group_multi = df.groupby(['Department', 'Employee'])[['Salary', 'Bonus']].sum()
print("\nGrouped by Department and Employee:\n", group_multi)

Grouped by Department and Employee:
                      Salary  Bonus
Department Employee
Finance    Eva        65000   3500
HR         Bob        50000   3000
           David      52000   2000
IT         Alice      70000   5000
           Charlie    75000   4000
           Frank      80000   4500

In [59]:
# Count employees per department

emp_count = df.groupby('Department')['Employee'].count()
print("\nEmployee count per department:\n", emp_count)

Employee count per department:
 Department
Finance    1
HR         2
IT         3
Name: Employee, dtype: int64

## **Sorting in pandas**

In [60]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 22, 22],
    'Salary': [50000, 70000, 45000, 80000]
}
df = pd.DataFrame(data)

print("Original DataFrame:\n", df)

Original DataFrame:
       Name  Age  Salary
0    Alice   25   50000
1      Bob   30   70000
2  Charlie   22   45000
3    David   22   80000

In [61]:
# Sort by a single column (ascending)

sorted_by_age = df.sort_values(by='Age')
print("Sorted by Age (ascending):\n", sorted_by_age)

Sorted by Age (ascending):
       Name  Age  Salary
3    David   22   80000
2  Charlie   22   45000
0    Alice   25   50000
1      Bob   30   70000

In [62]:
# Sort by salary (descending)

sorted_by_salary = df.sort_values(by='Salary', ascending=False)
print("Sorted by Salary (descending):\n", sorted_by_salary)

Sorted by Salary (descending):
       Name  Age  Salary
3    David   22   80000
1      Bob   30   70000
0    Alice   25   50000
2  Charlie   22   45000

In [63]:
# Sort by multiple columns

sorted_multi = df.sort_values(by=['Age', 'Salary'], ascending=[True, False])
print("Sorted by Age and then Salary:\n", sorted_multi)

Sorted by Age and then Salary:
       Name  Age  Salary
3    David   22   80000
2  Charlie   22   45000
0    Alice   25   50000
1      Bob   30   70000

## **Merging, Joining, Concatenating in pandas**

In [64]:
df1 = pd.DataFrame({
    'EmpID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

df2 = pd.DataFrame({
    'EmpID': [2, 3, 4],
    'Department': ['HR', 'IT', 'Finance']
})

print(df1)
print("--"*15)
print(df2)

   EmpID     Name
0      1    Alice
1      2      Bob
2      3  Charlie
------------------------------
   EmpID Department
0      2         HR
1      3         IT
2      4    Finance

In [65]:
# Merge on EmpID (inner join by default)

merged_inner = pd.merge(df1, df2, on='EmpID')
print("Inner Merge:\n", merged_inner)

Inner Merge:
    EmpID     Name Department
0      2      Bob         HR
1      3  Charlie         IT

In [66]:
# Merge with outer join

merged_outer = pd.merge(df1, df2, on='EmpID', how='outer')
print("\nOuter Merge:\n", merged_outer)

Outer Merge:
    EmpID     Name Department
0      1    Alice        NaN
1      2      Bob         HR
2      3  Charlie         IT
3      4      NaN    Finance

In [67]:
# Merge with left join

merged_left = pd.merge(df1, df2, on='EmpID', how='left')
print("\nLeft Join:\n", merged_left)

Left Join:
    EmpID     Name Department
0      1    Alice        NaN
1      2      Bob         HR
2      3  Charlie         IT

In [68]:
# Merge with right join

merged_right = pd.merge(df1, df2, on='EmpID', how='right')
print("\nRight Join:\n", merged_right)

Right Join:
    EmpID     Name Department
0      2      Bob         HR
1      3  Charlie         IT
2      4      NaN    Finance

In [69]:
# Concatenate DataFrames vertically

df3 = pd.DataFrame({
    'EmpID': [4, 5],
    'Name': ['David', 'Eva']
})

concat_rows = pd.concat([df1, df3], ignore_index=True)
print("\nConcatenated (rows):\n", concat_rows)

Concatenated (rows):
    EmpID     Name
0      1    Alice
1      2      Bob
2      3  Charlie
3      4    David
4      5      Eva

In [70]:
# Concatenate DataFrames horizontally

df4 = pd.DataFrame({
    'Salary': [50000, 60000, 70000]
})

concat_cols = pd.concat([df1, df4], axis=1)
print("\nConcatenated (columns):\n", concat_cols)

Concatenated (columns):
    EmpID     Name  Salary
0      1    Alice   50000
1      2      Bob   60000
2      3  Charlie   70000

## **Applying functions (apply(), map(), lambda)**

In [71]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22],
    'Salary': [50000, 70000, 45000]
}

df = pd.DataFrame(data)

print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   70000
2  Charlie   22   45000

In [72]:
# Apply a function to a column using `apply`

df['Double Salary'] = df['Salary'].apply(lambda x: x * 2)
print("Double Salary using apply:\n", df)

Double Salary using apply:
       Name  Age  Salary  Double Salary
0    Alice   25   50000         100000
1      Bob   30   70000         140000
2  Charlie   22   45000          90000

In [73]:
# Define a custom function
def age_category(age):
    if age < 25:
        return 'Young'
    elif age <= 30:
        return 'Mid-age'
    else:
        return 'Senior'


# Apply custom function to Age column
df['Age Group'] = df['Age'].apply(age_category)
print("\nAge category using custom function:\n", df)

Age category using custom function:
       Name  Age  Salary  Double Salary Age Group
0    Alice   25   50000         100000   Mid-age
1      Bob   30   70000         140000   Mid-age
2  Charlie   22   45000          90000     Young

In [74]:
# Using map() to modify values in a column

city_map = {'Alice': 'Delhi', 'Bob': 'Mumbai', 'Charlie': 'Chennai'}
df['City'] = df['Name'].map(city_map)
print("\nMapped cities using map():\n", df)

Mapped cities using map():
       Name  Age  Salary  Double Salary Age Group     City
0    Alice   25   50000         100000   Mid-age    Delhi
1      Bob   30   70000         140000   Mid-age   Mumbai
2  Charlie   22   45000          90000     Young  Chennai

In [75]:
# Apply row-wise using axis=1

df['Summary'] = df.apply(lambda row: f"{row['Name']} earns {row['Salary']}", axis=1)
print("\nRow-wise summary using apply():\n", df)

Row-wise summary using apply():
       Name  Age  Salary  Double Salary Age Group     City              Summary
0    Alice   25   50000         100000   Mid-age    Delhi    Alice earns 50000
1      Bob   30   70000         140000   Mid-age   Mumbai      Bob earns 70000
2  Charlie   22   45000          90000     Young  Chennai  Charlie earns 45000

In [79]:
# applymap -- used to apply a specific thing to every value in a dataframe

df_upper = df.applymap(lambda x: x.upper() if isinstance(x, str) else x)
print("\nUppercase using applymap():\n", df_upper)

Uppercase using applymap():
       Name  Age  Salary  Double Salary Age Group     City              Summary
0    ALICE   25   50000         100000   MID-AGE    DELHI    ALICE EARNS 50000
1      BOB   30   70000         140000   MID-AGE   MUMBAI      BOB EARNS 70000
2  CHARLIE   22   45000          90000     YOUNG  CHENNAI  CHARLIE EARNS 45000